
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.DS_Store
.DS_Store?
__pycache__/
migrations
db.sqlite3


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# PyBuilder
.pybuilder/
target/

__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
.DS_Store
