{% extends "users/base.html" %}
{% block title %} Drop-off Locations {% endblock title%}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'dropoff_locator/locatorGlo.css' %}" />
    <link rel="stylesheet" href="{% static 'dropoff_locator/locatorInd.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap"
    />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLV33ZHYrWb4OL_DPzcyhYABXXUucj1Hs"></script>
  </head>
  <body>
    <div class="donor-flow-8">
      <div class="mapframe">
        <div id="map" style="width: 100%; height: 768px;">
            <script>
                var trashIcon = "{% static 'images/trash.png' %}";
                var rCenterIcon = "{% static 'images/recycling-center.png' %}";
            </script>
            <script>
                var map;
                var lastWindow = -1;
                var geocoder = new google.maps.Geocoder();
                const trashIconJS = trashIcon;
                const rCenterIconJS = rCenterIcon;
                function initMap() {
                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 40.73089125, lng: -73.99758504},
                    zoom: 10
                  });
                }
                initMap();
                function closeAllInfoWindows() {
                  {% for location in locations %}
                    infowindow{{ forloop.counter }}.close();
                  {% endfor %}
                }
            </script>

            </div>
      </div>
      <div class="bg-blur">
        <div class="div">11209</div>
        <div class="compost-nearby">Compost results</div>
        <div class="search">
     

        <img
          class="vuesaxlinearsetting-4-icon"
          alt=""
          src="{% static 'images/vuesaxlinearsetting4.svg' %}"
        />
        <form method="GET" action="{% url 'dropoff_locator:locator_view' %}">
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>    
      </div>

      {% for location in locations %}   
      <script>
  
          var markers = [];   
          var iconType;
          {% if location.type == "NYC Smart Bin" %}
              iconType = trashIconJS;
          {% elif location.type == "NYC Community Site" %}
              iconType = rCenterIconJS;
          {% endif %}
          var contentString = 
              '<div id="content">' +
              "</div>" +
              '<h1 id="firstHeading" class="firstHeading"><b>{{ location.name }}</b></h1>' +
              '<h2 id="secondHeading" class="secondHeading">{{ location.address }}</h2>' +
              '<h2><b>Hours:</b></h2>' +
              '<p>{{ location.hours }}</p>' +
              "</div>";
              var marker{{ forloop.counter }} = new google.maps.Marker({
                  animation: google.maps.Animation.DROP,
                  position: {lat: {{ location.lat }}, lng: {{ location.lon }}},
                  map: map,
                  icon: iconType,
                  title: '{{ location.name }}'
              });
              console.log('marker{{ forloop.counter }} Created');
          var infowindow{{ forloop.counter }} = new google.maps.InfoWindow({
              content: contentString
          });
          marker{{ forloop.counter }}.addListener('click', function() {
              console.log('Marker clicked');
              closeAllInfoWindows();
              infowindow{{ forloop.counter }}.open(map, marker{{ forloop.counter }});
              map.panTo(marker{{ forloop.counter }}.getPosition());
              map.setZoom(17);
          });
          infowindow{{ forloop.counter }}.addListener('closeclick', function() {            
              map.setZoom(16.5);
  
          });
          markers.push(marker{{ forloop.counter }});

          function clickCard{{ forloop.counter }}() {
            console.log('Card clicked');
            closeAllInfoWindows();
            infowindow{{ forloop.counter }}.open(map, marker{{ forloop.counter }});
            map.panTo(marker{{ forloop.counter }}.getPosition());
            map.setZoom(17);
          }
  
      </script>
  <div class="card-shipment-parent" onclick="clickCard{{ forloop.counter }}()">
    <div class="card-shipment1">
      <div class="rectangle-div"></div>
      <div class="card-shipment-child3"></div>
      <!-- <div class="line-div"></div> -->
      <div class="card-shipment-child1"></div>
      <div class="bin-20170023461"><a href="{% url 'dropoff_locator:site_details' location.pk %}">{{ location.name }}</a></div>
      <div class="alliance-for-downtown-new-york-group">
        <div class="alliance-for-downtown1">
          {{ location.type }}
        </div>
        <div class="accepts-food-wastes">
          {% if location.type == "NYC Smart Bin" %}
            Accepts meat, dairy, and bones
          {% else %}
            View site details for info about schedule and accepted items
          {% endif %}
        </div>
        <div class="card-address">{{ location.address }}</div>
        <div class="hosted-by1"> </div>
      </div>
      <div class="open-2471">
        {% if location.is_always_open %}
          Open 24/7
        {% else %}
          Click to see details
        {% endif %}
      </div>
      <img class="call-icon1" alt="" src="{% static 'images/call.svg' %}" />

      <img class="message-icon1" alt="" src="{% static 'images/message.svg' %}" />

      <img class="card-shipment-child2" alt="" />
    </div>
    <div class="div1"></div>
    <img
      class="iconsaxbulkstar1"
      alt=""
      src="{% static 'images/iconsaxbulkstar1.svg' %}"
    />
    </div>
    {% endfor %}
    <script>
        map.addListener("click", () => {
            map.setZoom(16.5);
          closeAllInfoWindows();
        });
    </script>

  </div>
  
  <img class="side-menu-icon" alt="" src="{% static 'images/side-menu.svg' %}" />
  <img
    class="compostable-2-icon"
    alt=""
    src="{% static 'images/compostable-2@2x.png' %}"
  />






  <div class="donor-flow-8-child"></div>
  <div class="you-are-a">You are a</div>
  <div class="donor-flow-8-item"></div>
  <div class="donor">Donor</a></div>
  <div class="acceptor">Acceptor</a></div>
  <div class="facility"> </a></div>
  <div class="restaurant"> </div>
  <div class="button">
</div>
</body>
</html>


{% endblock content %}