<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% load static %}
    <title>Drop-off Locations</title>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
          integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4="
          rel="stylesheet"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLV33ZHYrWb4OL_DPzcyhYABXXUucj1Hs"></script>

</head>
<body>
<nav aria-label="main navigation" class="navbar is-light" role="navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <img atl="NYCC" src="../static/images/compostable.png"
                 style="margin-right: 0.5em;">
                 <a href="/" style="color: #386600; text-decoration: none;">NYC Composts</a>
        </div>
    </div>
</nav>

<div id="map" style="width: 100%; height: 400px;">
    
    <script>
        var trashIcon = "{% static 'images/trash.png' %}";
    </script>
    <script>
        var map;
        var lastWindow = -1;
        var geocoder = new google.maps.Geocoder();
        const trashIconJS = trashIcon;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 40.73089125, lng: -73.99758504},
            zoom: 10
          });
        }
        initMap();
        function closeAllInfoWindows() {
          {% for location in locations %}
            infowindow{{ forloop.counter }}.close();
          {% endfor %}
        }
    </script>
    <script>
        {% for location in locations %}
            var contentString = 
                '<div id="content">' +
                "</div>" +
                '<h1 id="firstHeading" class="firstHeading"><b>{{ location.name }}</b></h1>' +
                '<h2 id="secondHeading" class="secondHeading">{{ location.address }}</h2>' +
                '<h2><b>Hours:</b></h2>' +
              
                "</div>";
            var marker{{ forloop.counter }} = new google.maps.Marker({
                position: {lat: {{ location.lat }}, lng: {{ location.lon }}},
                map: map,
                icon: trashIconJS,
                title: '{{ location.name }}'
            });
            var infowindow{{ location.id }} = new google.maps.InfoWindow({
                content: contentString
            });
            marker{{ forloop.counter }}.addListener('click', function() {
                console.log('Marker clicked');
                closeAllInfoWindows();
                infowindow{{ forloop.counter }}.open(map, marker{{ forloop.counter }});
                map.panTo(marker{{ forloop.counter }}.getPosition());
                map.setZoom(18);
            });
            infowindow{{ location.id }}.addListener('closeclick', function() {            
                map.setZoom(15);

            });
        {% endfor %}
    </script>
</div>

<form method="GET" action="{% url 'dropoff_locator:locator_view' %}">
  {{ form.as_p }}
  <input type="submit" value="Submit" class="btn btn-primary" />
</form>

<style type="text/css">
  #table {
    width: 100%;
  }
  #table table {
    max-width:100%;
    word-break: break-word;
  }
</style>
<div id="table">
    <table class="table is-fullwidth is-striped is-bordered">
      <thead>
      <tr>
          <th>Borough</th>
          <th>Site Name</th>
          <th>Type</th>
      </tr>
      </thead>
      <tbody>
      {% for location in locations %}

      <tr>
          <th>{{ location.borough }}</td>
          <th><a href="{% url 'dropoff_locator:site_details' location.id %}">{{ location.name }}</a></th>
          <td>{{ location.type }}</td>

      </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
