{% extends "users/base.html" %}
{% block title %} Site Details {% endblock title%}
{% block content %}
{% load static %}

<h1>{{ location.name }}</h1>
<div>
<h3> Hosted By: </h3>
{% for host in hosts %}
<p>{{ host }}</p>
{% endfor %}
</div>

{% if location.type != "User Listing" %}
<div>
<h3> Open Hours: </h3>
    {% if location.season == "Seasonal" %}
      <p>Open hours are applicable between {{ season.start }} and {{ season.end }}.</p>
    {% else %}
      <p> This location is open year-round. </p>
    {% endif %}
  
    {% if location.is_always_open %}
      <p><b>Monday: </b>Open 24/7</p>
      <p><b>Tuesday: </b>Open 24/7</p>
      <p><b>Wednesday: </b>Open 24/7</p>
      <p><b>Thursday: </b>Open 24/7</p>
      <p><b>Friday: </b>Open 24/7</p>
      <p><b>Saturday: </b>Open 24/7</p>
      <p><b>Sunday: </b>Open 24/7</p>
    {% else %}
      <p><b>Monday: </b>{{ schedule.mon }}</p>
      <p><b>Tuesday: </b>{{ schedule.tues }}</p>
      <p><b>Wednesday: </b>{{ schedule.wed }}</p>
      <p><b>Thursday: </b>{{ schedule.thurs }}</p>
      <p><b>Friday: </b>{{ schedule.fri }}</p>
      <p><b>Saturday: </b>{{ schedule.sat }}</p>
      <p><b>Sunday: </b>{{ schedule.sun }}</p>
    {% endif %}
</div>
{% endif %}

<div>
  <h3> Accepted Items: </h3>
  {% for item in items %}
  <ul> 
    <li>{{ item }}</a></li>
  </ul>
  {% endfor %}
</div>

{% if location.type == "User Listing" %}
<div>
  <h4><a href="{% url 'donor_request:create_request' location.id %}">Request a drop-off</h4>
</div>
{% endif %}

{% endblock %}