{% extends "users/base.html" %}
{% block title %} Request Thread {% endblock title%}
{% block content %}
{% load static %}

<div>
<h3>Thread with {{ request.host }}</h3>
<h4>{{ request.site }}</h4><br>
</div>

<style type="text/css">
  #table {
    width: 100%;
  }
  #table table {
    max-width:100%;
    word-break: break-word;
  }
</style>
<div></div>
<div id="table">
    <table class="table is-fullwidth is-striped is-bordered">
      <thead>
      <tr>
          <th>Message</th>
          <th>Sent By</th>
          <th>Date</th>
      </tr>
      </thead>
      <tbody>

        {% for message in messages %}

        <tr>
            <td>{{ message.text }}</td>
            <td>{{ message.sender }}</td>
            <td>{{ message.date }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>



{% endblock %}