{% extends "users/base.html" %}
{% block title %} Login Page {% endblock title%}
{% block content %}
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/global.css' %}" />
    <link rel="stylesheet" href="{% static 'users/index.css' %}"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bungee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap"
    />
  </head>
    <div class="login">
                        <div class="bg">
                            <div class="bg1"></div>
                            <div class="composts">COMPOSTS</div>
                        </div>
                        <div class="button">
                            <!-- <img class="bg-icon" alt="" src="{% static 'images/Rectangle 12.png' %}"/> -->
                            <div class="text"><div class="log-in">Log in</div></div>
                          </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert" style="z-index:1;">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                            <form method="POST">
                                {% csrf_token %}
                                <div class="facebook">
                                    <!-- <img class="bg-icon3" alt="" src="{% static 'images/bg.png' %}"  /> -->
                                    <div class="text1">
                                      <div class="dont-have-account-container">
                                        <a href="{% url 'social:begin' 'github' %}">GitHub</a>
                                        </div>
                                    </div>
                                    <img class="logo-icon" alt="" src="{% static 'images/git.png' %}" />
                                </div>
                                <div class="google">
                                    <!-- <img class="bg-icon4" alt="" src="{% static 'images/bg.png' %}" /> -->
                                    <div class="text2">
                                      <div class="dont-have-account-container">
                                        <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
                                        </div>
                                    </div>
                                    <img class="logo-icon1" alt="" src="{% static 'images/Logo.png' %}" />
                                  </div>
                                <div class="or">
                                    <img class="line-icon" alt="" src="./public/line.svg" />
                                    <div class="or1"><div class="log-in">Or</div></div>
                                  </div>
                                <!-- <div class="email-address">
                                    <img class="bg-icon1" alt="" src="./public/bg1.svg" />
                                    <div class="email-address1">
                                      <div class="dont-have-account-container">Username</div>
                                      {{ form.username }}
                                    </div>
                                  </div> -->
                                  <div class="email-address">
                                    <!-- <img class="bg-icon1" alt="" src="./public/bg1.svg" /> -->
                                    <!-- <div class="email" >
                                      <div class="examplegmailcom">Username</div>
                                    </div> -->
                                    <div class="email-address1">
                                      <div class="dont-have-account-container">Username</div>
                                      <!-- {{ form.username }} -->
                                    </div>
                                    <hr>
                                    {{ form.username }}
                                  </div>
                                <div class="password">
                                    <hr>
                                    {{ form.password }}
                                    <!-- <img class="bg-icon1" alt="" src="./public/bg1.svg" /><img
                                        class="hide-icon"
                                        alt=""
                                        src="./public/hide.svg"
                                    /><img class="dot-icon" alt="" src="./public/dot.svg" /> -->
                                    <div class="pawssword">
                                        <div class="dont-have-account-container">Password</div>
                                          <!-- {{ form.password }} -->
                                        </div>
                                </div>
                                <div class="remember">
                                    {{ form.remember_me }}
                                    <!-- <div class="check-box"><div class="check"></div></div> -->
                                        <div class="remember-me">
                                            <!-- Add a Remember me functionality -->
                                            <div class="dont-have-account-container">Remember me</div>
                                        </div>
                                </div>
                                <!-- <div class="logo">
                                    <button name="login" class="col-md-12 btn btn-dark" id="login">Sign in</button>
                                </div> -->
                                <div class="button">
                                    <!-- <img class="bg-icon" alt="" src="{% static 'images/Rectangle.png' %}"/> -->
                                    <div class="text"><div class="log-in">
                                        <button name="login" class="col-md-12 btn btn-dark" id="login">Sign in</button>
                                    </div></div>
                                  </div>
                            </form>
                        <div class="now-account">
                            <div class="dont-have-account-container">
                                <a href="{% url 'users-register' %}">Don't have an account yet? Signup</a><br>
                            </div>
                        </div>
                        <div class="reset-password">
                            <div class="dont-have-account-container"><a href="{% url 'password_reset' %}"><i>Reset Password?</i></a>
                            </div>
                        </div>
        {% load static %} 
      <img
        class="compostable-1-icon"
        alt=""
        src="{% static 'images/compostable.png' %}"
      /><img
        class="unsplashpashrakideu-icon"
        alt=""
        src="{% static 'images/unsplash_pASHRAKiDeU.png' %}"
      /><img
        class="kindpng-1591284-1-icon"
        alt=""
        src="{% static 'images/kindpng_1591284 1.png' %}"
      />
     </div>
{% endblock content %}