<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags-->

  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Bootstrap CSS-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ site }}"?</p>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" name="confirm" value="Confirm">
            <input class="btn btn-primary" type="submit" name="cancel" value="Cancel">
        </div>
    </form>
</body>

</html>