body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-cabin: Cabin;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-2xs: 11px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;

  /* Colors */
  --color-whitesmoke-100: #ececec;
  --color-gray-100: #232323;
  --color-gray-200: rgba(30, 30, 30, 0.3);
  --color-gray-300: rgba(35, 35, 35, 0.5);
  --white-white: #fff;
  --color-mediumaquamarine: #0ebc93;
  --color-darkgray: #b0b0b0;
  --color-darkslategray: #484a58;

  /* border radiuses */
  --br-xs: 12px;

  /* Effects */
  --border-shadow-left: 1px 0px 0px #e5e5ea inset;
}
