.mapframe {
  width: calc(100% - 570px);
  top: 66px;
  right: 0;
  left: 570px;
  background-color: var(--white-white);
  box-shadow: var(--border-shadow-left);
  height: 958px;
  overflow: hidden;
}
.bg-blur,
.div,
.mapframe {
  position: absolute;
}
.bg-blur {
  top: 0;
  left: 0;
  background-color: var(--white-white);
  box-shadow: 6px 0 15px rgba(0, 0, 0, 0.03);
  width: 577px;
  height: 1024px;
}
.div {
  top: 180px;
  left: 481px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}
.side-menu-icon {
  position: absolute;
  top: -50px;
  left: 0;
  width: 155px;
  height: 1027px;
}
.compost-nearby {
  position: absolute;
  top: 180px;
  left: 141px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  font-weight: 600;
  color: #000;
}
.akar-iconssearch {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.search1 {
  position: relative;
  letter-spacing: 0.01em;
}
.akar-iconssearch-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.vuesaxlinearsetting-4-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.search {
  position: absolute;
  top: 100px;
  left: 141px;
  border-radius: var(--br-xs);
  background-color: var(--white-white);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.05);
  border: 1px solid #eceef6;
  box-sizing: border-box;
  width: 392px;
  display: flex;
  flex-direction: row;
  padding: 0 14px 0 15px;
  align-items: center;
  justify-content: space-between;
  color: #c4c4c4;
  font-family: var(--font-cabin);
}
.card-shipment-child,
.card-shipment-item {
  position: absolute;
  top: 91.5px;
  left: 0.5px;
  border-top: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 353px;
  height: 1px;
}
.card-shipment-item {
  top: 237.5px;
}
.bin-2017002346 {
  position: absolute;
  top: 27px;
  left: 0;
  letter-spacing: 0.01em;
  font-weight: 600;
}
.bin-2017002346-parent,
.group-child {
  position: absolute;
  top: 0;
  left: 0;
}
.bin-2017002346-parent {
  left: 2px;
  width: 142px;
  height: 49px;
  font-size: var(--font-size-lg);
}
.alliance-for-downtown {
  position: absolute;
  top: 21px;
  left: 0;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 200px;
}
.hosted-by {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
}
.hosted-by-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
  font-family: var(--font-montserrat);
}
.alliance-for-downtown-new-york-parent {
  position: absolute;
  top: 261px;
  left: 8px;
  width: 200px;
  height: 59px;
}
.open-247 {
  position: absolute;
  top: 55px;
  left: 1px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.01em;
  color: var(--color-darkslategray);
}
.card-shipment-inner {
  position: absolute;
  top: 154px;
  left: 23px;
  border-right: 1.5px dashed #e3e3e3;
  box-sizing: border-box;
  width: 0;
  height: 23px;
}
.rd-santa-ana,
.westheimer {
  position: absolute;
  top: 1px;
  left: 53px;
  letter-spacing: 0.01em;
}
.rd-santa-ana {
  top: 22px;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.vuesaxlinearlocation-icon,
.westheimer-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}
.westheimer-parent {
  top: 112px;
  left: 5px;
  width: 202px;
}
.call-icon,
.message-icon,
.preston-parent {
  position: absolute;
  top: 180px;
  left: 5px;
  width: 203px;
  height: 38px;
}
.call-icon,
.message-icon {
  top: 1268px;
  left: 433px;
  width: 38px;
}
.message-icon {
  left: 479px;
}
.card-shipment,
.ellipse-icon {
  position: absolute;
  top: 1264px;
  left: 164px;
  width: 47px;
  height: 47px;
}
.card-shipment {
  top: 996px;
  width: 353px;
  height: 320px;
  font-family: var(--font-cabin);
}
.compostable-2-icon {
  position: absolute;
  top: 92px;
  left: 50px;
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.iconsaxlinearlocation {
  position: absolute;
  top: 180px;
  left: 450px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--white-white);
  box-shadow: 0 20px 50px rgba(220, 224, 249, 0.5);
  border: 2px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 392px;
  height: 190px;
}
.card-shipment-child1,
.line-div {
  position: absolute;
  top: 81.5px;
  left: 17.5px;
  border-top: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 353px;
  height: 1px;
}
.card-shipment-child1 {
  top: 142.5px;
}
.accepts-food-wastes,
.alliance-for-downtown1,
.bin-20170023461 {
  position: absolute;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
}
.bin-20170023461 {
  top: 16px;
  left: 19px;
  font-size: var(--font-size-lg);
  width: 155px;
}
.accepts-food-wastes,
.alliance-for-downtown1 {
  top: 66px;
  left: 1px;
  width: 246px;
}
.accepts-food-wastes {
  top: 107px;
  left: 0;
  font-weight: 500;
  color: var(--color-gray-300);
  width: 247px;
}
.hosted-by1,
.jay-street {
  position: absolute;
  left: 1px;
  letter-spacing: 0.01em;
}
.jay-street {
  top: 0;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 200px;
}
.hosted-by1 {
  top: 45px;
  color: var(--color-darkgray);
}
.alliance-for-downtown-new-york-group {
  position: absolute;
  top: 48px;
  left: 18px;
  width: 247px;
  height: 124px;
}
.open-2471 {
  position: absolute;
  top: 49px;
  left: 298px;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: var(--color-darkslategray);
}
.call-icon1,
.message-icon1 {
  position: absolute;
  top: 93px;
  left: 288px;
  width: 38px;
  height: 38px;
}
.message-icon1 {
  left: 334px;
}
.card-shipment-child2,
.card-shipment1 {
  position: absolute;
  top: 327px;
  left: 160px;
  width: 47px;
  height: 47px;
}
.card-shipment1 {
  top: 0;
  left: 0;
  width: 392px;
  height: 190px;
}
.div1,
.iconsaxbulkstar1 {
  position: absolute;
  top: 19px;
}
.div1 {
  left: 341px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.01em;
  font-weight: 600;
  color: var(--color-darkgray);
}
.iconsaxbulkstar1 {
  left: 361px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.card-shipment-parent {
  position: absolute;
  top: 224px;
  left: 141px;
  width: 392px;
  height: 190px;
  font-size: var(--font-size-sm);
}
.card-shipment-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--white-white);
  box-shadow: 0 20px 50px rgba(220, 224, 249, 0.5);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 392px;
  height: 190px;
}
.card-shipment-child6 {
  position: absolute;
  top: 533px;
  left: 160px;
  width: 47px;
  height: 47px;
}
.card-shipment-group {
  position: absolute;
  top: 430px;
  left: 141px;
  width: 392px;
  height: 190px;
  font-size: var(--font-size-sm);
}
.card-shipment-child10 {
  position: absolute;
  top: 739px;
  left: 160px;
  width: 47px;
  height: 47px;
}
.card-shipment-container {
  position: absolute;
  top: 636px;
  left: 141px;
  width: 392px;
  height: 190px;
  font-size: var(--font-size-sm);
}
.card-shipment-child14 {
  position: absolute;
  top: 945px;
  left: 160px;
  width: 47px;
  height: 47px;
}
.card-shipment-parent1 {
  position: absolute;
  top: 842px;
  left: 141px;
  width: 392px;
  height: 190px;
  font-size: var(--font-size-sm);
}
.donor-flow-8-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white-white);
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.1);
  width: 1440px;
  height: 70px;
}
.you-are-a {
  position: absolute;
  top: 25px;
  left: 443px;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: var(--color-gray-300);
}
.donor-flow-8-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #1e7e3482;
  position: absolute;
  top: 14px;
  left: 556px;
  border-radius: 14px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  width: 99px;
  height: 41.11px;
}
.acceptor,
.donor,
.facility,
.restaurant {
  position: absolute;
  top: 25px;
  letter-spacing: 0.01em;
  font-weight: 600;
}
.donor {
  left: 579px;
  color: var(--white-white);
}
.acceptor,
.facility,
.restaurant {
  left: 697px;
}
.facility,
.restaurant {
  left: 812px;
}
.restaurant {
  left: 911px;
}
.donor-flow-8 {
  position: relative;
  background-color: #f8fafb;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 420px) {
  .search {
    flex-direction: row;
    gap: 247px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
